.todo-detail {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.todo-detail__form {
  width: 30%;
}

.todo-detail__time {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.todo-detail__form>.todo-detail__buttons,
.todo-detail__buttons__completion {
  display: flex;
  justify-content: center;
  align-items: center;
}