{% extends 'base.html' %}
{% load custom_tags %}

{% block body %}

<div class="container">
  <div class="mt-5">
    <h1 class="mb-3 text-center">{{ other_user.username }}님의 프로필</h1>
    <table class="table table-hover table-bordered">
      <tbody class="table-group-divider">
        <tr>
          <th class="col-4 col-sm-3 col-md-2 col-lg-1 text-center">이름</th>
          <td class="col-8 col-sm-9 col-md-10 col-lg-11">{{ other_user.full_name }}</td>
        </tr>
        <tr>
          <th class="col-4 col-sm-3 col-md-2 col-lg-1 text-center">이메일</th>
          <td class="col-8 col-sm-9 col-md-10 col-lg-11">{{ other_user.email }}</td>
        </tr>
        <tr>
          <th class="col-4 col-sm-3 col-md-2 col-lg-1 text-center">연락처</th>
          <td class="col-8 col-sm-9 col-md-10 col-lg-11">{{ other_user.userphonenumber.phone }}</td>
        </tr>
        <tr>
          <th class="col-4 col-sm-3 col-md-2 col-lg-1 text-center">가입일</th>
          <td class="col-8 col-sm-9 col-md-10 col-lg-11">{{ other_user.date_joined|date:"y년 m월 d일 f:s" }}</td>
        </tr>
      </tbody>
    </table>
    {% if other_user == now_user or now_user.is_superuser %}
    <div class="utilbox mt-3 mb-5">
      <a href="{% url 'accounts:update' other_user.pk %}" class="profile-update-btn btn btn-primary ms-0">프로필 수정</a>
      <a href="{% url 'accounts:password' other_user.pk %}" class="pw-change btn btn-primary">비밀번호 변경</a>
      <a href="{% url 'articles:reviews' %}" class="go-reviews btn btn-primary mx-0">리뷰 목록</a>
      <a href="{% url 'accounts:withdrawal' other_user.pk %}" class="user-out btn btn-danger ms-auto">계정 탈퇴</a>
    </div>
    <div style="word-break: keep-all;">
      <h1 class="text-center my-5"><b>{{ other_user.username }}</b> 님의 활동 기록</h1>
    </div>
    <div class="row mx-0 mb-5 pb-5 gx-5">
      <div class="col-12 col-md-6 mx-0">
        <h3 class="text-center mb-4">작성한 글</h3>
        {% if other_user.article_set.count > 0 %}
        <table class="table m-0 p-0 table-bordered">
          <thead class="table-hover">
            <tr>
              <th class="col-4">번호</th>
              <th class="col-8">제목 (과거 작성 순)</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th class="text-muted">글 번호</th>
              <td class="text-muted" style="word-break: keep-all;">{{ other_user.article_set.count }} 개의 글을 작성하였습니다.
              </td>
            </tr>
            {% for article in other_user.article_set.all %}
            <tr>
              <th>{{ forloop.counter }}</th>
              <td>
                <a href="{% url 'articles:detail' article.pk %}">
                  {{ article.title|long_slicer:article.title }}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="lead text-center">작성한 글이 없습니다.</p>
        {% endif %}
      </div>
      <div class="col-12 col-md-6 mx-0">
        <h3 class="text-center mb-4 mt-4 mt-md-0">작성한 댓글</h3>
        {% if user.comment_set.count > 0 %}
        <table class="table m-0 p-0 table-bordered">
          <thead class="table-hover">
            <tr>
              <th class="col-4">번호</th>
              <th class="col-8">내용 (과거 작성 순)</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th class="text-muted">댓글 번호</th>
              <td class="text-muted" style="word-break: keep-all;">{{ user.comment_set.count }} 개의 댓글을 작성하였습니다.</td>
            </tr>
            {% for comment in user.comment_set.all %}
            <tr>
              <th>{{ forloop.counter }}</th>
              <td><a href="{% url 'articles:detail' comment.article_id %}">{{ comment.content }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="lead text-center">작성한 댓글이 없습니다.</p>
        {% endif %}
      </div>
      {% else %}
      <h1 class="text-center my-5">조회 권한이 없습니다.</h1>
      {% endif %}
    </div>
  </div>
</div>

{% endblock body %}