{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

{% if request.resolver_match.uer_name == userinfo %}
<form action="{% url 'accounts:update' %}" method="POST">
{% bootstrap_form form readonly %}
{% bootstrap_button button_type="submit" content="수정하기" %}
<a href="{% url 'accounts:index' %}" class="btn btn-primary">목록으로</a>
{% else %}
<form action="" method="POST">
{% bootstrap_form form %}
{% bootstrap_button button_type="submit" content="변경사항 확정" %}
<a href="{% url 'accounts:index' %}" class="btn btn-primary">취소</a>
{% endif %}
</form>

{% endblock content %}