/* 아래에 CSS를 작성해주세요. */
.subtext {
    font-size: 12px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-section {
    display: flex;
    flex-flow: row wrap;
}
.card {
    width: 380px;
    margin: 10px;
    box-sizing: border-box;
}
.images {
    margin-top: 15px;
    display: flex;
    width: 100%;
    border-radius: 5%;
}
.explanation {
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    align-items: flex-start;
}
.explanation-title {
    margin-top: 0;
    margin-bottom: 0;
}

.contents {
    font-size: 12px;
    color: rgb(59, 59, 59);
}
