{% extends 'base.html' %}

{% block content %}

<div class="container">
  {% if request.user.is_authenticated %}
  <div>
    <table class="table">
      <thead class="table-dark table-bordered table-hover">
        <tr>
          <th class="col-3">아이디</th>
          <th class="col-3">이메일</th>
          <th class="col-3">연락처</th>
          <th class="col-3">가입일</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th><a href="{% url 'accounts:profile' user.pk %}">{{ user.username }}</a></th>
          <td>{{ user.email }}</td>
          <td>{{ user.userphonenumber.phone }}</td>
          <td>{{ user.date_joined|date:"y년 m월 d일 f:s" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h1>조회 권한이 없습니다.</h1>
  <div>
    <a href="{% url 'accounts:signup' %}" class="btn btn-primary">가입하기</a>
  </div>
  {% endif %}
</div>

{% endblock content %}