{% extends 'base.html' %}

{% block content %}

<div class="container">
  {% if other_user == now_user or now_user.is_superuser %}

  <div>
    <table class="table table-bordered table-hover">
      <thead class="table-primary">
        <tr>
          <th class="col-1">아이디</th>
          <th class="col-2">이름</th>
          <th class="col-3">이메일</th>
          <th class="col-3">연락처</th>
          <th class="col-3">가입일</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ other_user.username }}</th>
          <td>{{ other_user.full_name }}</td>
          <td>{{ other_user.email }}</td>
          <td>{{ other_user.userphonenumber.phone }}</td>
          <td>{{ other_user.date_joined|date:"y년 m월 d일 f:s" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex">
    <a href="{% url 'accounts:update' other_user.pk %}" class="btn btn-primary">회원정보 수정</a>
    <a href="{% url 'accounts:password' other_user.pk %}" class="btn btn-primary mx-2">비밀번호 변경</a>
    <a href="{% url 'accounts:withdrawal' other_user.pk %}" class="btn btn-danger ms-auto">회원 탈퇴</a>
  </div>
  <hr>
  <div>
    <h1>작성 댓글 모음</h1>
    <h3>현재까지 {{ other_user.comment_set.order_by|length }} 개의 댓글을 작성하였습니다.</h3>
    <table class="table table-bordered table-hover">
      <thead class="table-primary">
        <tr>
          <th class="col-6">글 제목</th>
          <th class="col-6">댓글 내용</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in other_user.comment_set.order_by %}
        <tr>
          <th><a href="{% url 'articles:detail' comment.article.pk %}">{{ comment.article.title }}</a></th>
          <td>{{ comment.content }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <h1>작성 글 모음</h1>
    <h3>현재까지 {{ other_user.article_set.order_by|length }} 개의 글을 작성하였습니다.</h3>
    <table class="table table-bordered table-hover">
      <thead class="table-primary">
        <tr>
          <th class="col-3">글 제목</th>
          <th class="col-3">글 내용</th>
          <th class="col-3">작성일</th>
          <th class="col-3">수정일</th>
        </tr>
      </thead>
      <tbody>
        {% for article in other_user.article_set.order_by %}
        <tr>
          <th><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></th>
          <td>{{ article.content }}</td>
          <td>{{ article.created_at }}</td>
          <td>{{ article.updated_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <h1>권한이 없습니다.</h1>
  {% endif %}
</div>

{% endblock content %}