body {
  font-family: 'NanumSquareNeo';
}

@media screen and (min-width: 992px) {
  .contrib-btn {
    width: 25%;
  }
}


@media screen and (max-width: 992px) {
  .contrib-btn {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .contrib-btn {
    width: 100%;
  }
}

.contrib-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  scroll-behavior: smooth;
}

.item-start {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  scroll-behavior: smooth;
}

.item-end {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  scroll-behavior: smooth;
}